.header {

  &__logo-box {
    display: flex;
    align-items: flex-end;
  }

  &__logo {
    display: flex;
    width: 128px;
    height: 30px;
    margin-right: 50px;
  }

  &__menu {
    display: flex;
    align-items: center;
    padding: 48px 100px;
    justify-content: space-between;
  }


  &__icone-home {
    margin-right: 40px;
  }

}

@media screen and (min-width: 0) {
  
  .header {

    &__logo {
      display: none;
    }

  }
}

@media (min-width: 768px) {

  .header {

    &__logo {
      display: block;
    }

  }

}

@media (min-width: 1280px) {
  .header {

    &__menu {
      padding: 64px 161.17px 37px;
    }
  }
}

