.header {
  background-color: #3772ff;

  &__logo-box {
    display: flex;
    align-items: flex-end;
  }

  &__logo {
    display: none;
  }

  &__menu {
    display: flex;
    align-items: center;
    padding: 48px 40px;
    justify-content: space-between;
  }

  &__icone-home {
    margin-right: 40px;
  }
}

@media (min-width: 768px) {
  .header {
    &__logo {
      display: block;
      width: 128px;
      height: 30px;
      margin-right: 50px;
    }

    &__menu {
      padding: 50px 70px;
    }

    &__icone-home {
      margin-right: 60px;
    }
  }
}

@media (min-width: 1440px) {
  .header {
    &__menu {
      padding: 64px 160px 37px;
    }

    &__icone-home {
      margin-right: 32px;
    }
  }
}
