.header {

  &__logo-box {
    display: flex;
    align-items: end;
  }

  //logo adopet
  &__logo {
    display: flex;
    width: 128px;
    height: 30px;
    margin-right: 50px;
  }

  &__menu {
    display: flex;
    align-items: center;
    padding: 48px 100px;
    justify-content: space-between;
  }


  &__icone-home {
    margin-right: 40px;
  }

}




