<header class="header">
    <div class="header__menu">
        <div class="header__logo-box">
            <img class="header__logo" src="../../../assets/img/Logo-inicio.svg" alt="Logo da Adopet">
            <a class="header__icone-home" href="#">
                <img src="../../../assets/img/Casa.png" alt="Ícone de uma casa">
            </a>
            <a class="header_icone-msg" href="#">
                <img src="../../../assets/img/Mensagens.svg" alt="Ícone de um envelope">
            </a>
        </div>
        <a class="header__icone-profile" href="#">
            <img src="../../../assets/img/perfil.png" alt="Logo de um perfil de usuário">
        </a>
    </div>
</header>