@import "../../../../assets/abstract/variables";
@import "../../../../assets/abstract/base";

.message {
  text-align: center;

  &__subtitle {
    width: 230px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: $azul-principal;
    margin: 12px auto 24px;
  }

  &-form {
    background-color: $cinza-bg;
    margin: 12px auto;
    padding: 32px 16px;
    border-radius: 10px;
    width: 285px;
  }

  &__label {
    font-size: 16px;
    font-weight: 600;
    color: $azul-principal;
    margin-bottom: 8px;
    display: block;
    text-align: start;
  }

  &__input,
  &__textarea {
    width: 100%;
    text-align: start;
    padding: 12px 16px;
    margin-bottom: 16px;
    background-color: $branco-principal;
    &::placeholder {
      text-align: start;
    }
  }

  &__input {
    height: 40px;
  }

  &__textarea {
    height: 172px;
    margin-bottom: 32px;
  }

  &__btn {
    width: 150px;
    padding: 10px;
  }
}

@media (min-width: 768px) {
  .message {
    &__subtitle {
      font-size: 18px;
      line-height: 26px;
      width: 524px;
      margin: 130px auto 40px;
    }

    &-form {
      width: 524px;
      margin-bottom: 90px;
    }

    &__btn {
      width: 164px;
    }
  }
}

@media (min-width: 1440px) {
  .message {
    &__subtitle {
      margin-top: 60px;
    }
  }
}
