$branco-principal: #fff;
$vermelho-principal: #fc7071;
$vermelho-hover: #ff9d9e;
$azul-principal: #3772ff;
$verde-principal: #36d6ad;
$cinza-bg: #f7f7f7;
$cinza-escuro: #737380;
$cinza-claro: #bcbcbc;
$creme: #fcf0e3;
