<main class="signin">
  <img
    class="signin__img-logo"
    src="../../../../assets/img/logo-azul.svg"
    alt="Logo Adopet"
  />
  <p class="signin__subtitle">Já tem conta? Faça seu login:</p>
  <form class="signin-form">
    <div>
      <label for="email" class="signin__label">Email</label>
      <input
        class="input signin__input"
        type="email"
        placeholder="Insira seu email"
        required
      />
    </div>
    <div>
      <label for="senha" class="signin__label">Senha</label>
      <input
        class="input signin__input"
        type="password"
        placeholder="Insira sua senha"
        required
      />
    </div>
  </form>
  <a routerLink="#" class="signin__recuperar-senha">Esqueci minha senha</a>
  <button class="btn signin__btn" type="submit">Entrar</button>
</main>
