<main class="pets">
  <p class="pets__subtitle">Olá! Veja os amigos disponíveis para adoção!</p>
  <div class="pets__list">
    <div class="pets__card">
      <img
        src="../../../assets/img/Dunga.png"
        alt="Imagem de um pet"
        class="pets__card__img"
      />
      <div class="pets__card__content">
        <h4 class="pets__card__content-name">Dunga</h4>
        <p class="pets__card__content-age">2 anos</p>
        <p class="pets__card__content-size">Porte pequeno</p>
        <p class="pets__card__content-feature">Calmo e educado</p>
        <address class="pets__card__content-address">
          Rio de Janeiro (RJ)
        </address>
        <a href="#" class="pets__card__content-link">
          <img
            src="../../../assets/img/ícone-contato.png"
            alt="Ícone de balão de mensagem"
          />
          <span>Falar com o responsável</span>
        </a>
      </div>
    </div>

    <div class="pets__card">
      <img
        src="../../../assets/img/Felícia.png"
        alt="Imagem de um pet"
        class="pets__card__img"
      />
      <div class="pets__card__content">
        <h4 class="pets__card__content-name">Felícia</h4>
        <p class="pets__card__content-age">3 meses</p>
        <p class="pets__card__content-size">Porte pequeno</p>
        <p class="pets__card__content-feature">Ativa e carinhosa</p>
        <address class="pets__card__content-address">Nova Iguaçu (RJ)</address>
        <a href="#" class="pets__card__content-link">
          <img
            src="../../../assets/img/ícone-contato.png"
            alt="Ícone de balão de mensagem"
          />
          <span>Falar com o responsável</span>
        </a>
      </div>
    </div>

    <div class="pets__card">
      <img
        src="../../../assets/img/sirius.png"
        alt="Imagem de um pet"
        class="pets__card__img"
      />
      <div class="pets__card__content">
        <h4 class="pets__card__content-name">Sirius</h4>
        <p class="pets__card__content-age">6 meses</p>
        <p class="pets__card__content-size">Porte grande</p>
        <p class="pets__card__content-feature">Ativo e educado</p>
        <address class="pets__card__content-address">
          Duque de Caxias (RJ)
        </address>
        <a href="#" class="pets__card__content-link">
          <img
            src="../../../assets/img/ícone-contato.png"
            alt="Ícone de balão de mensagem"
          />
          <span>Falar com o responsável</span>
        </a>
      </div>
    </div>

    <div class="pets__card">
      <img
        src="../../../assets/img/Fiona.png"
        alt="Imagem de um pet"
        class="pets__card__img"
      />
      <div class="pets__card__content">
        <h4 class="pets__card__content-name">Fiona</h4>
        <p class="pets__card__content-age">3 anos</p>
        <p class="pets__card__content-size">Porte pequeno</p>
        <p class="pets__card__content-feature">Calma e carinhosa</p>
        <address class="pets__card__content-address">São Gonçalo (RJ)</address>
        <a href="#" class="pets__card__content-link">
          <img
            src="../../../assets/img/ícone-contato.png"
            alt="Ícone de balão de mensagem"
          />
          <span>Falar com o responsável</span>
        </a>
      </div>
    </div>

    <div class="pets__card">
      <img
        src="../../../assets/img/Sid.png"
        alt="Imagem de um pet"
        class="pets__card__img"
      />
      <div class="pets__card__content">
        <h4 class="pets__card__content-name">Sid</h4>
        <p class="pets__card__content-age">8 meses</p>
        <p class="pets__card__content-size">Porte médio/grande</p>
        <p class="pets__card__content-feature">Brincalhão e amável</p>
        <address class="pets__card__content-address">
          Rio de Janeiro (RJ)
        </address>
        <a href="#" class="pets__card__content-link">
          <img
            src="../../../assets/img/ícone-contato.png"
            alt="Ícone de balão de mensagem"
          />
          <span>Falar com o responsável</span>
        </a>
      </div>
    </div>

    <div class="pets__card">
      <img
        src="../../../assets/img/Yoda.png"
        alt="Imagem de um pet"
        class="pets__card__img"
      />
      <div class="pets__card__content">
        <h4 class="pets__card__content-name">Yoda</h4>
        <p class="pets__card__content-age">1 ano</p>
        <p class="pets__card__content-size">Porte médio</p>
        <p class="pets__card__content-feature">Ativo e carinhoso</p>
        <address class="pets__card__content-address">Nova Iguaçu (RJ)</address>
        <a href="#" class="pets__card__content-link">
          <img
            src="../../../assets/img/ícone-contato.png"
            alt="Ícone de balão de mensagem"
          />
          <span>Falar com o responsável</span>
        </a>
      </div>
    </div>

    <div class="pets__card">
      <img
        src="../../../assets/img/Lua.png"
        alt="Imagem de um pet"
        class="pets__card__img"
      />
      <div class="pets__card__content">
        <h4 class="pets__card__content-name">Lua</h4>
        <p class="pets__card__content-age">6 meses</p>
        <p class="pets__card__content-size">Porte médio</p>
        <p class="pets__card__content-feature">Ativa e carinhosa</p>
        <address class="pets__card__content-address">
          Duque de Caxias (RJ)
        </address>
        <a href="#" class="pets__card__content-link">
          <img
            src="../../../assets/img/ícone-contato.png"
            alt="Ícone de balão de mensagem"
          />
          <span>Falar com o responsável</span>
        </a>
      </div>
    </div>

    <div class="pets__card">
      <img
        src="../../../assets/img/Amora.png"
        alt="Imagem de um pet"
        class="pets__card__img"
      />
      <div class="pets__card__content">
        <h4 class="pets__card__content-name">Amora</h4>
        <p class="pets__card__content-age">45 dias</p>
        <p class="pets__card__content-size">Porte grande</p>
        <p class="pets__card__content-feature">Calma e carinhosa</p>
        <address class="pets__card__content-address">São Gonçalo (RJ)</address>
        <a href="#" class="pets__card__content-link">
          <img
            src="../../../assets/img/ícone-contato.png"
            alt="Ícone de balão de mensagem"
          />
          <span>Falar com o responsável</span>
        </a>
      </div>
    </div>

    <div class="pets__card">
      <img
        src="../../../assets/img/zelda.png"
        alt="Imagem de um pet"
        class="pets__card__img"
      />
      <div class="pets__card__content">
        <h4 class="pets__card__content-name">Zelda</h4>
        <p class="pets__card__content-age">5 meses</p>
        <p class="pets__card__content-size">Porte médio</p>
        <p class="pets__card__content-feature">Ativa e amável</p>
        <address class="pets__card__content-address">
          Rio de Janeiro (RJ)
        </address>
        <a href="#" class="pets__card__content-link">
          <img
            src="../../../assets/img/ícone-contato.png"
            alt="Ícone de balão de mensagem"
          />
          <span>Falar com o responsável</span>
        </a>
      </div>
    </div>
  </div>
</main>
