<main class="home">
  <div class="home__container">
    <img
      class="home__img-logo"
      src="../../../assets/img/Logo.svg"
      alt="Logo Adopet"
    />
    <h1 class="home__title">Boas-vindas!</h1>
    <p class="home__subtitle">
      Que tal mudar sua vida adotando seu novo melhor amigo? Vem com a gente!
    </p>
    <section class="home__btn-container">
      <a routerLink="#" class="btn">Já tenho conta</a>
      <a routerLink="#" class="btn">Quero me cadastrar</a>
    </section>
    <div class="home__img-container">
      <img
        class="home__img-bottom"
        src="../../../assets/img/Ilustração-pagina 1.svg"
        alt=""
      />
    </div>
  </div>
</main>
