.home {
  background: url(../../../assets/img/vetor2.svg) no-repeat right -14px top 50px;
  background-size: 84px;
  background-color: #3772ff;
  text-align: center;
  color: #ffffff;

  &__img-logo {
    height: 46px;
  }

  &__title {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 48px;
    padding: 15px 0 10px;
  }

  &__subtitle {
    width: 248px;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto 24px;
  }

  &__btn-container {
    display: flex;
    flex-direction: column;
  }

  .btn {
    color: #ffffff;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;
    background-color: #fc7071;
    width: 180px;
    border-radius: 6px;
    border: 1px solid #fc7071;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    margin: 0 auto 16px;
    padding: 12px;
  }

  &__img-bottom {
    position: relative;
    top: 2rem;
  }
}

@media (min-width: 768px) {
  .home {
    background-size: auto;
    background-position: right 0;

    &__img-logo {
      height: 60px;
    }

    &__title {
      font-family: "Poppins", sans-serif;
      font-size: 28px;
      margin-bottom: 24px;
    }

    &__subtitle {
      width: 344px;
      font-size: 18px;
      line-height: 26px;
      margin: 0 auto 38px;
    }

    .btn {
      width: 344px;
      font-size: 18px;
    }

    &__img-bottom {
      width: 344px;
    }
  }
}

@media (min-width: 1440px) {
  .home {
    &__img-logo {
      height: 65px;
    }

    &__subtitle {
      width: 488px;
    }

    .btn {
      width: 362px;
    }

    &__img-bottom {
      width: 346px;
    }
  }
}
