@import "../../../../assets/abstract/variables";

.pets-list {
  &__subtitle {
    width: 226px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: $azul-principal;
    margin: 20px auto 32px auto;
    .break {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
}

@media (min-width: 768px) {
  .pets-list {
    &__subtitle {
      font-size: 18px;
      width: 375px;
      margin-top: 130px;
      .break {
        display: initial;
      }
    }

    &__list {
      padding-bottom: 32px;
    }
  }
}

@media (min-width: 1440px) {
  .pets-list {
    background: url(../../../../assets/img/vetor2.svg) no-repeat right 0 top 0;
    background-size: 134px;
    &__subtitle {
      margin-top: 40px;
      width: 420px;
      .break {
        display: none;
      }
    }

    &__list {
      padding: 20px 100px 60px;
    }
  }
}
