@import "../../../../assets/abstract/variables";
@import "../../../../assets/abstract/base";

.signup {
  background: url(../../../../assets/img/vetor2-login.png) no-repeat left 0 top
    240px;
  background-size: 84px;
  text-align: center;

  &__img-logo {
    height: 35px;
    padding: 20px 0 24px;
  }

  &__subtitle {
    width: 312px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $azul-principal;
    margin: 0 auto;
  }

  &__label {
    margin-top: 24px;
    font-size: 16px;
    font-weight: 400;
    color: $cinza-escuro;
    padding-bottom: 4px;
    display: block;
  }

  &__input {
    width: 312px;
    height: 40px;
  }

  &__btn {
    width: 150px;
    padding: 10px;
    margin: 24px auto 100px;
  }
}

@media (min-width: 768px) {
  .signup {
    background: url(../../../../assets/img/vetor2.svg) no-repeat right 0 top
      130px;
    background-size: 134px;
    &__img-logo {
      height: 62px;
      margin-top: 90px;
      padding-bottom: 40px;
    }

    &__subtitle {
      width: 525px;
      font-size: 18px;
      line-height: 21px;
    }

    &__label {
      font-size: 18px;
      padding-bottom: 8px;
    }

    &__input {
      width: 344px;
    }

    .btn {
      width: 164px;
      font-size: 18px;
      line-height: 24px;
      margin-top: 40px;
      margin-bottom: 185px;
    }
  }
}

@media (min-width: 1440px) {
  .signup {
    &__img-logo {
      height: 64px;
      margin-top: 0;
      padding-bottom: 64px;
    }

    &__subtitle {
      padding-bottom: 24px;
    }

    &__input {
      width: 552px;
    }

    .btn {
      width: 144px;
    }
  }
}
