<main class="signup">
  <img
    class="signup__img-logo"
    src="../../../../assets/img/logo-azul.svg"
    alt="Logo Adopet"
  />
  <p class="signup__subtitle">
    Ainda não tem cadastro?<br />
    Então, antes de buscar seu melhor amigo, precisamos de alguns dados:
  </p>

  <form class="signup-form">
    <div>
      <label for="email" class="signup__label">Email</label>
      <input
        class="input signup__input"
        type="email"
        placeholder="Insira seu melhor email"
        required
      />
    </div>
    <div>
      <label for="nome" class="signup__label">Nome</label>
      <input
        class="input signup__input"
        type="text"
        placeholder="Digite seu nome completo"
        required
      />
    </div>
    <div>
      <label for="senha" class="signup__label">Senha</label>
      <input
        class="input signup__input"
        type="password"
        placeholder="Crie uma senha"
        required
      />
    </div>
    <div>
      <label for="senha" class="signup__label">Confirme sua senha</label>
      <input
        class="input signup__input"
        type="password"
        placeholder="Repita a senha criada acima"
        required
      />
    </div>
  </form>
  <button class="btn signup__btn" type="submit">Cadastrar</button>
</main>
