<main class="signup">
  <img
    class="signup__img-logo"
    src="../../../../assets/img/logo-azul.svg"
    alt="Logo Adopet"
  />
  <p class="signup__subtitle">
    Ainda não tem cadastro?<br />
    Então, antes de buscar seu melhor amigo, precisamos de alguns dados:
  </p>

  <form
    class="signup-form"
    id="form"
    #form="ngForm"
    [formGroup]="signupForm"
    (ngSubmit)="register()"
  >
    <div>
      <label for="name" class="signup__label">Nome</label>
      <input
        formControlName="name"
        id="name"
        class="input signup__input"
        type="text"
        placeholder="Digite seu nome completo"
      />
      <div
        *ngIf="
          (signupForm.get('name')?.invalid &&
            signupForm.get('name')?.touched) ||
          signupForm.get('name')?.dirty
        "
      >
        <app-msg-warning
          *ngIf="signupForm.get('name')?.errors?.['required']"
          message="O campo de nome deve ser preenchido"
        ></app-msg-warning>
        <app-msg-warning
          *ngIf="signupForm.get('name')?.errors?.['minlength']"
          message="O nome deve ter no mínimo 2 caracteres"
        ></app-msg-warning>
      </div>
    </div>
    <div>
      <label for="email" class="signup__label">Email</label>
      <input
        formControlName="email"
        id="email"
        class="input signup__input"
        type="email"
        placeholder="Insira seu melhor email"
      />
      <div
        *ngIf="
          (signupForm.get('email')?.invalid &&
            signupForm.get('email')?.touched) ||
          signupForm.get('email')?.dirty
        "
      >
        <app-msg-warning
          *ngIf="signupForm.get('email')?.errors?.['required']"
          message="O campo de email é obrigatório"
        ></app-msg-warning>
        <app-msg-warning
          *ngIf="signupForm.get('email')?.errors?.['email']"
          message="E-mail inválido. Seguir o padrão: 'exemplo@dominio.com'"
        ></app-msg-warning>
      </div>
    </div>
    <div>
      <label for="password" class="signup__label">Senha</label>
      <div class="password-toggle">
        <input
          formControlName="password"
          id="password"
          class="input signup__input"
          type="password"
          placeholder="Crie uma senha"
        />
        <span (click)="togglePasswordVisibility()">
          <img
            class="password-toggle__icon"
            [src]="hidePassword ? eyeIcon : eyeClosedIcon"
            alt="Ícone Olho"
          />
        </span>
        <div
          *ngIf="
            (signupForm.get('password')?.invalid &&
              signupForm.get('password')?.touched) ||
            signupForm.get('password')?.dirty
          "
        >
          <app-msg-warning
            *ngIf="signupForm.get('password')?.errors?.['required']"
            message="O campo de senha é obrigatório"
          ></app-msg-warning>
        </div>
      </div>
    </div>
    <div>
      <label for="confirmPassword" class="signup__label"
        >Confirme sua senha</label
      >
      <div class="password-toggle">
        <input
          formControlName="confirmPassword"
          id="confirmPassword"
          class="input signup__input"
          type="password"
          placeholder="Repita a senha criada acima"
        />
        <span (click)="togglePasswordVisibility()">
          <img
            class="password-toggle__icon"
            [src]="hidePassword ? eyeIcon : eyeClosedIcon"
            alt="Ícone Olho"
          />
        </span>
        <div
          *ngIf="
            (signupForm.get('confirmPassword')?.invalid &&
              signupForm.get('confirmPassword')?.touched) ||
            signupForm.get('confirmPassword')?.dirty
          "
        >
          <app-msg-warning
            *ngIf="signupForm.get('confirmPassword')?.errors?.['required']"
            message="O campo de senha é obrigatório"
          ></app-msg-warning>
          <app-msg-warning
            *ngIf="signupForm.get('confirmPassword')?.errors?.['passwordMatchValidator']"
            message="As senhas não coincidem"
          ></app-msg-warning>
        </div>
      </div>
    </div>
  </form>
  <button class="btn signup__btn" type="submit">Cadastrar</button>
</main>
