@import "../../../../assets/abstract/variables";
@import "../../../../assets/abstract/base";

.signup {
  text-align: center;

  &__img-logo {
    height: 35px;
    padding: 20px 0 24px;
  }

  &__subtitle {
    width: 312px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $azul-principal;
    margin: 0 auto;
    padding-bottom: 42px;
  }

  &__label {
    font-size: 16px;
    font-weight: 400;
    color: $cinza-escuro;
    padding-bottom: 4px;
    display: block;
  }

  &__input {
    width: 312px;
    height: 40px;
    margin-bottom: 24px;
  }

  &__btn {
    width: 150px;
    padding: 10px;
    margin: 0 auto 100px;
  }
}

@media (min-width: 768px) {
  .signup {
    &__img-logo {
      height: 62px;
      padding-bottom: 40px;
    }

    &__subtitle {
      width: 525px;
      font-size: 18px;
      line-height: 21px;
    }

    &__label {
      font-size: 18px;
      padding-bottom: 8px;
    }

    &__input {
      width: 344px;
    }

    .btn {
      width: 164px;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 185px;
    }
  }
}

@media (min-width: 1440px) {
  .signup {
    &__img-logo {
      height: 64px;
      padding-bottom: 64px;
    }

    &__subtitle {
      padding-bottom: 80px;
    }

    &__input {
      width: 552px;
    }

    .btn {
      width: 144px;
    }
  }
}
